* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
    
}

main {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;

}

.formulario {
    display: flex;
    flex-direction: column;

    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;

    background-color: #F2ACBF;
    color: #171717;

    width: 40vw;
    height: 100vh;
}

.lulu-register {
    width: 60vw;
    height: 100vh;

    background-image: url(https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Lulu_46.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: #171717;
}

form {
    background-color: transparent;

    margin-top: 20px;
}

input, textarea {
    border-radius: 2px;
    border: none;
    padding: 5px;
    outline: none;

    background-color: #f5f5f5;
    color: #171717;
}

.receber {
    display: flex;
    justify-content: center;
}

.button-receber {
    margin: 10px;
    padding: 8px;
    width: 120px;
}

input[type=submit] {
    background-color: #F2E2C4;
    transition: 300ms;
    font-size: small;
}

input[type=submit]:hover {
    background-color: #D99152;
}

input[type=reset] {
    background-color: #59342C;
    transition: 300ms;
    font-size: small;
}

input[type=reset]:hover {
    background-color: #D99152;
}